.Project{
border: 3px solid;
display: flex;
text-decoration: none;
padding: 20px 50px;
border: rgb(240, 145, 2);
border-radius: 10px;
flex-flow: row wrap;
margin: 1rem;
display: inline-block;
}
.Project img {
width: 250px;
}

.Project:hover{
    animation:pulsate 1s
    ease-in-out;
}
@keyframes pulsate{
    0%{
        box-shadow:
            0 0 25px rgb(255, 192, 76),
            0 0 25px rgb(240, 145, 2);
    }
}

.portfolioBtn{
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: black;
        outline: 2px solid black;
        padding: 30px 60px;
        position: absolute;
        overflow: hidden;
        margin: 0;
        transform: translateY(-50%) translateX(240%);
}
