.Project{
border: 3px solid;
display: flex;
text-decoration: none;
padding: 20px 50px;
border: rgb(240, 145, 2);
border-radius: 10px;
flex-flow: row wrap;
margin: 1rem;
display: inline-block;
}


.Project:hover{
    animation:pulsate 1s
    ease-in-out;
}
@keyframes pulsate{
    0%{
        box-shadow:
            0 0 25px rgb(255, 192, 76),
            0 0 25px rgb(240, 145, 2);
    }
}


