body {
    background-color: rgb(255, 251, 238);
}

/* NavBar */
.navBar {
    padding: 30px 20px;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
}

div a:link {
    text-decoration: underline;
    position: relative;
    padding: 14px 20px;
    display: inline-block;
}

div a:visited {
    text-decoration: none;
    color: black;
}

.navContainer {
    padding: 20px;
}

/* portfolio page setup */

.portfolioHeading{
    margin: 0;
    padding: 75px;
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;

}
.portfolioMeat {
    font-family: 'Courier New', Courier, monospace;
    flex: 70%;
    padding: 75px;
    height: 250px;
    margin: 0;
    text-align: center;
    font-size: 20px;
}

.webInstruction {
    text-align: left;
}

.portfolioCard {
    display: flex;
    text-decoration: none;
    padding-top: 300px;
    border-radius: 10px;
    flex-flow: row wrap;
    margin: 1rem;
    vertical-align: bottom;
}

.Project {
    text-decoration: none;
    padding: 20px 50px;
    flex-flow: row wrap;
    margin: 1rem; 
    display: inline-block;
}

.Project img {
    width: 250px;
}

.Project:hover {
    animation: pulsate 1s ease-in-out;
}

@keyframes pulsate {
    0% {
        box-shadow:
            0 0 25px rgb(138, 153, 170),
            0 0 25px rgb(69, 78, 85);
    }
}

/* resume page */
.contactContainer {
    text-align: center;
}

.contactHeading {
    text-align: left;
    margin: 0;
    padding: 75px;
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
}

.contactText {
    font-family: 'Courier New', Courier, monospace;
    flex: 70%;
    padding: 75px;
    height: 250px;
    margin: 0;
    text-align: center;
    font-size: 20px;
}
.portfolioBtn {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: black;
    outline: 2px solid black;
    padding: 30px 60px;
    position: relative;
    overflow: hidden;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

.buttonContainer {
    padding-top:200px ;
}
/*about me container*/

.aboutHeading {
    text-align: left;
    font-size: 3rem;
    padding-left: 75px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.aboutMeContainer {
    display: inline-block;
    column-gap: 20px;
    row-gap: 20px;
    padding: 75px;
}

.aboutMeText {
    width: 50%;
    float: left;
    font-family: 'Courier New', Courier, monospace;
}

.stockPhoto {
    float: right;
    width: 40%;
    height: auto;
}

/* footer */
.footer {
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 0;
    padding: 100px;
    font-family: 'Courier New', Courier, monospace;
}